{% extends 'base.html' %}
{% block title %}
    Home | Proxima Tours
{% endblock %}
{% block body %}
    <h1 style="text-align: center; margin: 40px;" >Latest Expeditions</h1>
    <div class="row products">
        <div class="row">
            {% for exped in expeditions %}
                <a href="/expedition/{{ exped.pk }}">
                <div class="col-md-4 col-sm-8">
                    <div class="thumbnail">
                        <img src="/media/{{ exped.cover_photo }}" alt="" class="img-responsive img-portfolio img-hover">
                        <div class="caption">
                            <h4 class="pull-right">{{ exped.person_price }}/-</h4>
                            <h4><a href="#">{{ exped.title }}</a></h4>
                            <p>{{ exped.description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span>{{ exped.date }}</span>
                            </p>
                        </div>
                    </div>
			    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row reviews">
        <h1  style="text-align: center; margin: 40px;" >Popular Reviews By Campers</h1>
        {% for review in reviews %}
        <div class="col-md-4 review">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <div class="user-photo"><img src="/static/images/user3.jpg" alt="" class="love-card-image"></div>
                        <div class="username">
                            <strong>{{ review.user }}</strong> - <a href="/expedition/{{ review.expedition.pk }}"><small>@{{ review.expedition }}</small></a>
                        </div>
                        <div class="clear"></div>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{ review.comment }}</p>
				</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}